#projects {
  margin-top: 72px;
  padding-bottom: 144px;
}

.header-trabalhos {
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.header-trabalhos p {
  color: var(--color-red);
}

.header-trabalhos strong {
  color: var(--color-gray-600);
}

.header-trabalhos {
  margin-bottom: 56px;
}

.project-card {
  border-radius: 8px;
  max-width: 330px;
  background-color: var(--color-gray-300);
  overflow: hidden;
}

.project-card img {
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

figure {
  border-radius: 8px;
  padding: 12px;
}

.text-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

#projects-grid {
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
}

figure span {
  color: var(--color-gray-600);
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 88px 120px 120px 120px;
  background-color: var(--color-gray-100);
}

.services-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  width: 280px;
  height: 155px;
  border: solid var(--color-gray-200) 2px;
  border-radius: 12px;
  padding: 20px;
}

.text-service {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.services-grid {
  display: grid;
  grid-template-rows: auto;
}
